.cbc{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'section section  aside aside'
    'section section  aside aside'
    'article article article article'
    'article article article article'
    'footer footer footer footer';

    grid-template-columns: repeat(5fr);
    grid-template-rows: repeat(5fr);

    gap:10px;
}    
body{
    background-image: url(./images/baackground2.jpg);
}
header{
    border: solid 2px red;
    background-color: brown;
    grid-area: header;
    border: solid 2px white;
    background-color: black;
    border-radius: 30px;
    position: relative;
    position: sticky;
    top:0px;

}
section{
    border: solid 3px white;
    border-radius: 20px;
    grid-area: section;
    background-image: url(./images/rnb-music-neon-text-player-260nw-1206227794.webp);
    background-size: cover;
    height: 250px;
}
aside{
    border: solid 3px rgb(255, 253, 253);
    border-radius: 20px;
    grid-area: aside;
    background-image: url(./images/background3.jpg); 
    background-size: cover;
    animation: cb 12s infinite 2s ease-in-out alternate-reverse;
    animation-delay: 2s;
    
    
}
@keyframes cb{
    0%{background-image: url(./images/background3.jpg);}
    25%{background-image: url("https://i.ytimg.com/vi/tO2UMyXKd2s/hqdefault.jpg");}
    50%{background-image: url(./images/cbshow2.jpg);}
    75%{background-image: url(./images/cbshow3.jpg);}
    100%{background-image:url(./images/background3.jpg);background-position: center;}
    
    
}
article{
    
    background-color: crimson;
    border: solid 2px white;
    border-radius: 40px;
    grid-area: article;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}
article img{
    border-radius: 40px;
    box-shadow: black 10px 10px 10px;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 400px;
    height: 300px;
}
footer{
    
    background-image: linear-gradient(black,red);
    border:  3px;
    grid-area: footer;
    border-radius: 30px;
    margin-bottom: px;
}
.pp{
    font-family: 'Parisienne', cursive;
    color: white;
    margin-top: 55px;
    margin-left: 10px;
    position: absolute;
    
}
.menu ul{
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    
}
.menu ul li{
    color: rgb(184, 92, 226);
    display: inline;
    list-style: none;
    font-size: 20px;
    padding:20px;
    margin-right: 200px;
    transition: 1s;
}
.menu ul li:hover{
    background-color: rgb(117, 223, 170);
    font-size: 25px;
}
.logo{
    border-radius: 70px;
    position: absolute;
    left: 1400px;
    position: sticky;
    animation-name: matan;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes matan{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360);}
}
 iframe{
    margin-left:250px;
    width: 1000px;
    height: 1000px;
}
.par p{
    
    font-size: 20px;
    text-align: justify;
    font-family: 'Abril Fatface', cursive;
    
}
 .icons{
    text-decoration: none;
    font-size: 20px;
    color:purple;
    transition-duration: 0.5s;
}
a:hover{
    transform: scale(1.5);
    color:white;
    
}
.fa{
    color:blue;
    transition-duration: 0.5s;

}
.fa:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.5);
}
a{
    text-decoration: none;
}
